@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Marck+Script|Roboto:400,400i,700,700i&display=swap&subset=cyrillic");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.2; }

body * {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5 {
  font-weight: bold; }

h1 {
  font-size: 2.6em;
  font-size: 2.6rem; }

h2 {
  font-size: 2.1em;
  font-size: 2.1rem; }

h3 {
  font-size: 1.6em;
  font-size: 1.6rem; }

p {
  font-size: 1.6em;
  font-size: 1.6rem; }

time {
  font-weight: bold; }

strong {
  font-weight: bold; }

.left {
  float: left; }

.right {
  float: right; }

/*figure {
	&.big *{
		max-width: 40em;
		max-height: 40em;
	}
	&.medium *{
		max-width: 30em;
		max-height: 30em;
	}
	&.center *{
		margin: 2px auto 5px;
	}
	img {
		margin: 2px 20px 5px;
		display: block;
	}
}
figcaption {
	text-align: center;
	color: #555;
	font-size: 1.2em;
}*/
/*TODO: ╨╖╨░╨▒╨╕╨▓╨░╨╡╤В╤Б╤П ╤Б╨╡╨╗╨╡╨║╤В╨╛╤А╨╛╨╝ article p;*/
/*.signature {
	text-align: right;
	float: right;
	margin: 20px 20px;
	color: #98032c;
	clear: right;
}*/
a[href$=".doc"],
a[href$=".docx"],
a[href$=".xls"],
a[href$=".xlsx"],
a[href$=".pdf"],
a[href$=".jpg"],
a[href$=".png"],
a[href$=".zip"],
a[href^="mailto:"],
a[href^="http:"],
a[href^="https:"] {
  padding-left: 20px; }

a[href$=".doc"],
a[href$=".docx"] {
  background: no-repeat left url("../images/interface/links/word.png"); }

a[href$=".xls"],
a[href$=".xlsx"] {
  background: no-repeat left url("../images/interface/links/excel.png"); }

a[href$=".pdf"] {
  background: no-repeat left url("../images/interface/links/acrobat.png"); }

a[href^="mailto:"] {
  background: no-repeat left url("../images/interface/links/email.gif"); }

a[href$=".jpg"],
a[href$=".png"] {
  background: no-repeat left url("../images/interface/links/image.png"); }

a[href$=".zip"] {
  background: no-repeat left url("../images/interface/links/zip.png"); }

a[href^="http:"],
a[href^="https:"] {
  background: no-repeat left url("../images/interface/links/globe.png"); }

.banner a {
  padding-left: unset;
  background: none; }

ul.mark {
  list-style: circle;
  padding-left: 10px; }

/*TODO: ╨╡╤Б╨╗╨╕ ╨▓ ╤В╨░╨▒╨╗╨╕╤Ж╨╡ ╨╡╤Б╤В╤М caption, ╤В╨╛ ╨║╤А╨░╤П ╨╜╨╡ ╨║╤А╤Г╨│╨╗╤Л╨╡ - ╨╕╤Б╨┐╤А╨░╨▓╨╕╤В╤М;*/
table.general {
  font-size: 1.6em;
  font-size: 1.6rem;
  /*border: $table_border;*/
  /*border-radius: 15px;*/
  /*overflow: hidden;*/
  border-collapse: separate;
  margin: 10px auto; }
  table.general caption, table.general th, table.general td {
    padding: 5px 10px;
    vertical-align: middle;
    text-align: center; }
  table.general caption {
    color: #73210e; }
  table.general th, table.general td {
    /*border: $table_border;*/ }
  table.general .description, table.general .note {
    text-align: left; }
  table.general .description {
    width: 60%; }
  table.general th.subpoint {
    min-width: 5rem; }
  table.general thead tr {
    background: -webkit-gradient(linear, left bottom, left top, from(#2d1205), to(#5f2626));
    background: linear-gradient(to top, #2d1205, #5f2626);
    color: white; }
  table.general thead tr:first-child {
    border-radius: 15px 15px 0 0; }
    table.general thead tr:first-child th:first-child {
      border-radius: 15px 0 0 0; }
    table.general thead tr:first-child th:last-child {
      border-radius: 0 15px 0 0; }
  table.general tbody tr:nth-of-type(odd) {
    background: -webkit-gradient(linear, left top, left bottom, from(#947132), to(#22202d));
    background: linear-gradient(to bottom, #947132, #22202d);
    color: #d6cccc; }
    table.general tbody tr:nth-of-type(odd) p, table.general tbody tr:nth-of-type(odd) li {
      color: #d6cccc; }
  table.general tbody tr:nth-of-type(even) {
    background: -webkit-gradient(linear, left bottom, left top, from(#6f6c6c), to(#ffffff));
    background: linear-gradient(to top, #6f6c6c, #ffffff);
    color: black; }
    table.general tbody tr:nth-of-type(even) p, table.general tbody tr:nth-of-type(even) li {
      color: black; }
  table.general tbody tr:last-child {
    border-radius: 0 0 10px 10px; }
    table.general tbody tr:last-child td:first-child {
      border-radius: 0 0 0 10px; }
    table.general tbody tr:last-child td:last-child {
      border-radius: 0 0 10px 0; }

table.general_midi {
  max-width: 70%; }

/*header {
	background-color: $headerColor;
	background-image: $gradient_header;
	img {
		max-height: 150px;
		max-width: 150px;
		margin: 0 20px;
	}
	&>div {
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		        flex-flow: row nowrap;
		max-width: $maxWidth;
		margin: 0 auto;
		-webkit-box-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		        align-items: center; 
	}
}*/
/* ╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡ ╨▓ ╨▒╨░╨╜╨╜╨╡╤А╨╡*/
/*.main_title *{
	font-family: $handwriting_font;
	text-align: center;
	font-size: 2.4em;
	font-weight: bold;
	color: $mainTitleColor;
}*/
/* ╨╛╤Б╨╜╨╛╨▓╨╜╨╛╨╡ ╨╜╨░╨╖╨▓╨░╨╜╨╕╨╡*/
/*.main_name {
	font-size: 3.4em;
}*/
/*nav.header {
	max-width: $maxWidth;
	min-width: 93em;
	min-width: -moz-max-content;
	min-width: -webkit-max-content;
	min-width: max-content;
	min-height: 2.7em;
	margin: 0 auto;
	padding: 1px 10px 0;
	.container {
		float: left;
		min-height: 2.7em;
		position: relative;
		&:nth-child(1) {
			min-width: 8.5em;
			width: 9.24918%;
			ul {
				width: 100%;
			}
		}
		&:nth-child(2) {
			min-width: 26.4em;
			width: 28.72688%;
			ul {
				width: 100%;
			}
		}
		&:nth-child(3) {
			min-width: 20.1em;
			width: 21.8716%;
			ul {
				width: 100%;
			}
		}
		&:nth-child(4) {
			min-width: 24.4em;
			width: 26.5506%;
			ul {
				width: 100%;
			}
		}
		&:nth-child(5) {
			min-width: 12.5em;
			width: 13.60174%;
			ul {
				width: 100%;
			}
		}
	}
	.container:nth-child(n+1) {
		margin: -1px;
	}
	.container:first-child {
		li:first-child{
			border-bottom-right-radius: 0;
		}
	}
	.container:last-child {
		li:first-child {
			border-bottom-right-radius: 5px;
		}
		&:hover{
			li:first-child {
				border-bottom-right-radius: 0;
			}
		}
	}
	li:last-child {
		border-radius: 0 0 5px 5px;
	}
	li:first-child {
		text-align:center;
		border-top: $nav_border;
	}
	li {
		padding: 3px 1px 3px;
		background: #ccc;
		background: $gradient_nav_li;
		border: $nav_border;
		border-top: none;
		&:hover, &.here {
			background: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#fff));
			background: linear-gradient(to top, #eee, #fff);
			box-shadow: inset 1px 1px 7px -2px rgba(0, 0, 0, .9);
			a {
				color: #000;
			}
		}
		&.here a {
			cursor: default;
		}
		&.here:first-of-type:not(:only-child) a:before {
			content: "\2261";
			margin-right: 10px;
		}
	}
	
	a {
		font-size: 1.8em;
		color: white;
		display: block;
		border-bottom: none;
		padding: 0 5px;
	}
	a:hover {
		border-bottom: none;
	}
	ul {
		position: absolute;
		max-height: 2.9em;
		overflow: hidden;
		box-shadow: $shadow_nav_li;
		z-index: 100;
		&:hover {
			max-height: 50em;
		}
	}
}*/
nav.left ul {
  margin: 10px 5px; }
nav.left li {
  margin: 0 10px;
  border-bottom: 1px solid #999;
  padding: 5px 10px; }
  nav.left li.here {
    background: 3px center/6% url("../images/interface/checked.png") no-repeat;
    padding-left: 20px; }
    nav.left li.here a {
      font-weight: bold; }
  nav.left li:hover:not(.here) {
    background: 3px center/6% url("../images/interface/checked_black.png") no-repeat;
    padding-left: 20px; }
    nav.left li:hover:not(.here) a {
      font-weight: bold; }
nav.left a {
  color: #227;
  border-bottom: none; }

.adBanner {
  padding: 0 10px; }

.adBanner a {
  background: none;
  padding-left: 0; }

.adBanner__rectangle {
  max-width: 25rem; }

.adBanner__small {
  max-width: 130px;
  max-height: 130px; }

.article {
  background-color: #f9f0d7;
  box-shadow: 4px 4px 8px rgba(64, 59, 43, 0.8);
  margin: 0 10px 10px;
  border-radius: 10px;
  padding: 10px; }

.article a {
  text-decoration: none;
  font-size: 1.6em;
  font-size: 1.6rem;
  color: #00ace5;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom-color 0.5s;
  transition: border-bottom-color 0.5s; }

.article a:hover {
  border-bottom-color: #00ace5; }

.article__h3 {
  margin: 20px 15px; }

.article__list {
  color: #333;
  margin: 0 0 10px 20px;
  font-size: 1.6rem; }
  .article__list li {
    margin: 2px 0; }

.article__list_mark {
  list-style: circle;
  padding-left: 10px; }

.article__text {
  color: #333; }

.article__text_indent {
  text-indent: 2em;
  margin: 0 10px 0; }

.caption_lvl1 {
  color: #504c8e;
  border-bottom: 1px solid #504c8e;
  margin-bottom: 20px; }

.caption_lvl2 {
  color: #73210e;
  border-bottom: 1px dashed #73210e;
  margin: 5px 15px 20px;
  padding: 0 0 3px; }

.caption_hasDate {
  position: relative;
  overflow: visible; }

.caption__date {
  position: absolute;
  bottom: -1.7em;
  right: 0;
  padding: 3px 7px;
  font-size: 0.6em;
  color: #73210e; }

.header {
  background-color: #bdf7ff;
  background-image: linear-gradient(to top, #96bcea, #5dcab0); }

.headerBanner {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

.headerBanner__img {
  max-height: 150px;
  max-width: 150px;
  margin: 0 20px; }

.headerBanner__titleText {
  font-family: "Marck Script", cursive;
  text-align: center;
  font-size: 2.4em;
  font-weight: bold;
  color: rgba(13, 9, 216, 0.9); }

.headerBanner__titleText_main {
  font-size: 3.4em; }

.flexContainer {
  display: -webkit-box;
  display: flex; }

.flexContainer_row_wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap; }

.flexContainer_row_nowrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap; }

.flexContainer_center {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center; }

.flexContainer_hTop {
  -webkit-box-align: start;
  align-items: flex-start; }

.flexContainer__size1 {
  -webkit-box-flex: 1;
  flex: 1 0 10em; }

.flexContainer__size2 {
  -webkit-box-flex: 2;
  flex: 2 0 25em; }

.flexContainer__size5 {
  -webkit-box-flex: 5;
  flex: 5 0 40em; }

.flexContainer__subNav {
  -webkit-box-flex: 1;
  flex: 1 0 20em; }

.footer {
  background: black; }

.footer a {
  text-decoration: none;
  color: #00ace5;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom-color 0.5s;
  transition: border-bottom-color 0.5s; }

.footer a:hover {
  border-bottom-color: #00ace5; }

.footer__h2 {
  border-bottom: 1px solid white;
  margin: 5px 0;
  padding: 5px 15px 3px;
  font-size: 1.6rem;
  color: #ddd; }

.footer__text {
  color: #ddd; }

.footer__text_general {
  font-size: 1.2rem;
  line-height: 1.4; }

.imgContainer {
  padding: 5px 20px 5px; }

.imgContainer__caption {
  text-align: center;
  color: #555;
  font-size: 1.2em; }

.imgContainer__img {
  display: block; }

.imgContainer__img_big {
  max-width: 40em;
  max-height: 40em; }

.imgContainer__img_medium {
  max-width: 30em;
  max-width: 30em; }

.imgContainer__item_center {
  margin: 2px auto 5px; }

.maxContainer {
  max-width: 1200px;
  margin: 0 auto; }

.nav {
  min-width: 93em;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  min-height: 2.7em;
  padding: 1px 10px 0; }

.nav__item {
  float: left;
  min-height: 2.7em;
  position: relative; }
  .nav__item ul {
    box-shadow: 4px 4px 6px rgba(50, 70, 70, 0.6);
    max-height: 2.9em;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 100; }
    .nav__item ul:hover {
      max-height: 50em; }
  .nav__item a {
    font-size: 1.8em;
    color: white;
    display: block;
    border-bottom: none;
    padding: 0 5px;
    text-decoration: none; }
  .nav__item a:hover {
    border-bottom: none; }
  .nav__item:nth-child(1) {
    min-width: 8.5em;
    width: 9.24918%; }
  .nav__item:nth-child(2) {
    min-width: 26.4em;
    width: 28.72688%; }
  .nav__item:nth-child(3) {
    min-width: 20.1em;
    width: 21.8716%; }
  .nav__item:nth-child(4) {
    min-width: 24.4em;
    width: 26.5506%; }
  .nav__item:nth-child(5) {
    min-width: 12.5em;
    width: 13.60174%; }
  .nav__item:nth-child(n+1) {
    margin: -1px; }
  .nav__item:first-child li:first-child {
    border-bottom-right-radius: 0; }
  .nav__item:last-child li:first-child {
    border-bottom-right-radius: 5px; }
  .nav__item:last-child:hover li:first-child {
    border-bottom-right-radius: 0; }
  .nav__item li:last-child {
    border-radius: 0 0 5px 5px; }
  .nav__item li:first-child {
    text-align: center;
    border-top: 1px solid #fff; }
  .nav__item li {
    padding: 3px 1px 3px;
    background: #ccc;
    background: linear-gradient(to top, #20386d, #76cad6);
    border: 1px solid #fff;
    border-top: none; }
    .nav__item li:hover, .nav__item li.here {
      background: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#fff));
      background: linear-gradient(to top, #eee, #fff);
      box-shadow: inset 1px 1px 7px -2px rgba(0, 0, 0, 0.9); }
      .nav__item li:hover a, .nav__item li.here a {
        color: #000; }
    .nav__item li.here a {
      cursor: default; }
    .nav__item li.here:first-of-type:not(:only-child) a:before {
      content: "\2261";
      margin-right: 10px; }

.section {
  padding: 0 20px; }

.section_vert {
  padding: 10px 0; }

.signature {
  text-align: right;
  float: right;
  margin: 20px 20px;
  color: #98032c;
  clear: right; }

.sticker {
  padding: 5px 5px 10px;
  background-color: #cbe0ec;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  position: relative; }
  .sticker:before, .sticker:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    top: -10px; }
  .sticker:before {
    background-image: url(../images/interface/marker_left.png);
    left: -7px; }
  .sticker:after {
    background-image: url(../images/interface/marker_right.png);
    right: -7px; }

.sticker__h3 {
  margin: 5px 15px; }

.changingPhoto {
  margin: 10px auto;
  height: 300px;
  max-width: 800px;
  background: #C00;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  background: url(../images/interface/change/rod.jpg) center/cover no-repeat #aaa;
  -webkit-animation: mainPhoto1 10s infinite;
  animation: mainPhoto1 10s infinite;
  background-image: url(../images/interface/change/rod.jpg), url(../images/interface/change/1.jpg);
  background-position: center -20px, 800px -50px; }

.changingMiniPhoto {
  margin: 10px 30px 10px 10px;
  height: 200px;
  width: 300px;
  min-width: 300px;
  background: #C00;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  background: url(../images/interface/change/rod.jpg) center/cover no-repeat #aaa;
  -webkit-animation: mainPhoto2 10s infinite;
  animation: mainPhoto2 10s infinite;
  background-image: url(../images/interface/change/rod.jpg), url(../images/interface/change/1.jpg);
  background-position: center, 300px center; }

@-webkit-keyframes mainPhoto1 {
  0%, 45% {
    background-position: center -20px, 800px -50px; }
  50%, 95% {
    background-position: -800px -20px, center -50px; }
  100% {
    background-position: center -20px, 800px -50px; } }
@keyframes mainPhoto1 {
  0%, 45% {
    background-position: center -20px, 800px -50px; }
  50%, 95% {
    background-position: -800px -20px, center -50px; }
  100% {
    background-position: center -20px, 800px -50px; } }
@-webkit-keyframes mainPhoto2 {
  0%, 45% {
    background-position: center, 300px center; }
  50%, 95% {
    background-position: -340px center, center; }
  100% {
    background-position: center, 300px center; } }
@keyframes mainPhoto2 {
  0%, 45% {
    background-position: center, 300px center; }
  50%, 95% {
    background-position: -340px center, center; }
  100% {
    background-position: center, 300px center; } }
article.event, article.banner {
  background-color: transparent;
  box-shadow: none;
  padding: 0; }
  article.event p, article.banner p {
    text-indent: 0; }

span.a_disabled {
  font-size: 1.6em;
  font-size: 1.6rem;
  color: black; }

.divided {
  margin: 15px 0;
  border-bottom: 1px solid #999;
  padding-bottom: 10px; }
  .divided p {
    margin-bottom: 5px; }

.withoutIndent {
  text-indent: 0; }

.interlinear {
  vertical-align: super;
  font-size: .8em;
  margin-top: 0; }

.nowrap {
  white-space: nowrap; }

.remark {
  font-size: 1.2em;
  font-size: 1.2rem;
  text-indent: 0;
  margin-left: 20px; }
  .remark:before {
    content: "*"; }

/*# sourceMappingURL=styles.css.map */
