@import url("https://fonts.googleapis.com/css?family=Marck+Script|Roboto:400,400i,700,700i&display=swap&subset=cyrillic");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.2; }

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

h1, h2, h3, h4, h5 {
  font-weight: bold; }

h1 {
  font-size: 2.6em;
  font-size: 2.6rem; }

h2 {
  font-size: 2.1em;
  font-size: 2.1rem; }

h3 {
  font-size: 1.6em;
  font-size: 1.6rem; }

p {
  font-size: 1.6em;
  font-size: 1.6rem; }

a {
  text-decoration: none;
  font-size: 1.6em;
  font-size: 1.6rem;
  color: #00ace5;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom-color 0.5s linear 0s;
  -moz-transition: border-bottom-color 0.5s linear 0s;
  -ms-transition: border-bottom-color 0.5s linear 0s;
  -o-transition: border-bottom-color 0.5s linear 0s;
  transition: border-bottom-color 0.5s linear 0s; }

a:hover {
  border-bottom-color: #00ace5; }

time {
  font-weight: bold; }

strong {
  font-weight: bold; }

.left {
  float: left; }

.right {
  float: right; }

figure.big * {
  max-width: 40em;
  max-height: 40em; }
figure.medium * {
  max-width: 30em;
  max-height: 30em; }
figure.center * {
  margin: 2px auto 5px; }
figure img {
  margin: 2px 20px 5px;
  display: block; }

figcaption {
  text-align: center;
  color: #555;
  font-size: 1.2em; }

.signature {
  text-align: right;
  float: right;
  margin: 20px 20px;
  color: #98032c;
  clear: right; }

a[href$=".doc"],
a[href$=".docx"],
a[href$=".pdf"],
a[href$=".jpg"],
a[href$=".png"],
a[href$=".zip"],
a[href^="mailto:"],
a[href^="http:"],
a[href^="https:"] {
  padding-left: 20px; }

a[href$=".doc"],
a[href$=".docx"] {
  background: no-repeat left url("../images/interface/links/word.png"); }

a[href$=".pdf"] {
  background: no-repeat left url("../images/interface/links/acrobat.png"); }

a[href^="mailto:"] {
  background: no-repeat left url("../images/interface/links/email.gif"); }

a[href$=".jpg"],
a[href$=".png"] {
  background: no-repeat left url("../images/interface/links/image.png"); }

a[href$=".zip"] {
  background: no-repeat left url("../images/interface/links/zip.png"); }

a[href^="http:"],
a[href^="https:"] {
  background: no-repeat left url("../images/interface/links/globe.png"); }

.banner a {
  padding-left: unset;
  background: none; }

ul.mark {
  list-style: circle;
  padding-left: 10px; }

header {
  background-color: #bdf7ff;
  background-image: linear-gradient(to top, #96bcea, #5dcab0); }
  header img {
    max-height: 150px;
    max-width: 150px;
    margin: 0 20px; }
  header > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; }

.main_title * {
  font-family: "Marck Script", cursive;
  text-align: center;
  font-size: 2.4em;
  font-weight: bold;
  color: rgba(13, 9, 216, 0.9); }

.main_name {
  font-size: 3.4em; }

nav.header {
  max-width: 1200px;
  min-width: 93em;
  min-width: -moz-max-content;
  min-width: -webkit-max-content;
  min-width: max-content;
  min-height: 2.7em;
  margin: 0 auto;
  padding: 1px 10px 0; }
  nav.header .container {
    float: left;
    min-height: 2.7em;
    position: relative; }
    nav.header .container:nth-child(1) {
      min-width: 8.5em;
      width: 9.24918%; }
      nav.header .container:nth-child(1) ul {
        width: 100%; }
    nav.header .container:nth-child(2) {
      min-width: 26.4em;
      width: 28.72688%; }
      nav.header .container:nth-child(2) ul {
        width: 100%; }
    nav.header .container:nth-child(3) {
      min-width: 20.1em;
      width: 21.8716%; }
      nav.header .container:nth-child(3) ul {
        width: 100%; }
    nav.header .container:nth-child(4) {
      min-width: 24.4em;
      width: 26.5506%; }
      nav.header .container:nth-child(4) ul {
        width: 100%; }
    nav.header .container:nth-child(5) {
      min-width: 12.5em;
      width: 13.60174%; }
      nav.header .container:nth-child(5) ul {
        width: 100%; }
  nav.header .container:nth-child(n+1) {
    margin: -1px; }
  nav.header .container:first-child li:first-child {
    border-bottom-right-radius: 0; }
  nav.header .container:last-child li:first-child {
    border-bottom-right-radius: 5px; }
  nav.header .container:last-child:hover li:first-child {
    border-bottom-right-radius: 0; }
  nav.header li:last-child {
    border-radius: 0 0 5px 5px; }
  nav.header li:first-child {
    text-align: center;
    border-top: 1px solid #fff; }
  nav.header li {
    padding: 2px 1px 2px;
    background: #ccc;
    background: linear-gradient(to top, #20386d, #76cad6);
    border: 1px solid #fff;
    border-top: none; }
    nav.header li:hover, nav.header li.here {
      background: linear-gradient(to top, #eee, #fff);
      box-shadow: inset 1px 1px 7px -2px rgba(0, 0, 0, 0.9); }
      nav.header li:hover a, nav.header li.here a {
        color: #000; }
    nav.header li.here a {
      cursor: default; }
  nav.header a {
    font-size: 1.8em;
    color: white;
    display: block;
    border-bottom: none;
    padding: 0 5px; }
  nav.header a:hover {
    border-bottom: none; }
  nav.header ul {
    position: absolute;
    max-height: 2.7em;
    overflow: hidden;
    box-shadow: 4px 4px 6px rgba(50, 70, 70, 0.6);
    z-index: 100; }
    nav.header ul:hover {
      max-height: 30em; }

nav.left ul {
  margin: 10px 5px; }
nav.left li {
  margin: 0 10px;
  border-bottom: 1px solid #999;
  padding: 5px 10px; }
  nav.left li.here {
    background: 3px center/6% url("../images/interface/checked.png") no-repeat;
    padding-left: 20px; }
    nav.left li.here a {
      font-weight: bold; }
  nav.left li:hover:not(.here) {
    background: 3px center/6% url("../images/interface/checked_black.png") no-repeat;
    padding-left: 20px; }
    nav.left li:hover:not(.here) a {
      font-weight: bold; }
nav.left a {
  color: #227;
  border-bottom: none; }

.changingPhoto {
  margin: 10px auto;
  height: 300px;
  max-width: 800px;
  background: #C00;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  background: url(../images/interface/change/rod.jpg) center/cover no-repeat #aaa;
  -webkit-animation: mainPhoto1 10s infinite;
  -moz-animation: mainPhoto1 10s infinite;
  -o-animation: mainPhoto1 10s infinite;
  animation: mainPhoto1 10s infinite;
  background-image: url(../images/interface/change/rod.jpg), url(../images/interface/change/1.jpg);
  background-position: center -20px, 800px -50px; }

.changingMiniPhoto {
  margin: 10px 30px 10px 10px;
  height: 200px;
  width: 300px;
  min-width: 300px;
  background: #C00;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  background: url(../images/interface/change/rod.jpg) center/cover no-repeat #aaa;
  -webkit-animation: mainPhoto2 10s infinite;
  -moz-animation: mainPhoto2 10s infinite;
  -o-animation: mainPhoto2 10s infinite;
  animation: mainPhoto2 10s infinite;
  background-image: url(../images/interface/change/rod.jpg), url(../images/interface/change/1.jpg);
  background-position: center, 300px center; }

@-webkit-keyframes mainPhoto1 {
  0%, 45% {
    background-position: center -20px, 800px -50px; }
  50%, 95% {
    background-position: -800px -20px, center -50px; }
  100% {
    background-position: center -20px, 800px -50px; } }
@-moz-keyframes mainPhoto1 {
  0%, 45% {
    background-position: center -20px, 800px -50px; }
  50%, 95% {
    background-position: -800px -20px, center -50px; }
  100% {
    background-position: center -20px, 800px -50px; } }
@-ms-keyframes mainPhoto1 {
  0%, 45% {
    background-position: center -20px, 800px -50px; }
  50%, 95% {
    background-position: -800px -20px, center -50px; }
  100% {
    background-position: center -20px, 800px -50px; } }
@keyframes mainPhoto1 {
  0%, 45% {
    background-position: center -20px, 800px -50px; }
  50%, 95% {
    background-position: -800px -20px, center -50px; }
  100% {
    background-position: center -20px, 800px -50px; } }
@-webkit-keyframes mainPhoto2 {
  0%, 45% {
    background-position: center, 300px center; }
  50%, 95% {
    background-position: -340px center, center; }
  100% {
    background-position: center, 300px center; } }
@-moz-keyframes mainPhoto2 {
  0%, 45% {
    background-position: center, 300px center; }
  50%, 95% {
    background-position: -340px center, center; }
  100% {
    background-position: center, 300px center; } }
@-ms-keyframes mainPhoto2 {
  0%, 45% {
    background-position: center, 300px center; }
  50%, 95% {
    background-position: -340px center, center; }
  100% {
    background-position: center, 300px center; } }
@keyframes mainPhoto2 {
  0%, 45% {
    background-position: center, 300px center; }
  50%, 95% {
    background-position: -340px center, center; }
  100% {
    background-position: center, 300px center; } }
main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  align-items: flex-start;
  max-width: 1200px;
  margin: 10px auto; }

.simpleFlex {
  flex: 1 0 10em; }

.important {
  flex: 2 0 25em; }

.center {
  flex: 5 0 40em; }

article {
  background-color: #f7efcd;
  box-shadow: 4px 4px 8px rgba(64, 59, 43, 0.8);
  margin: 0 10px 10px;
  border-radius: 10px;
  padding: 10px; }
  article.nav {
    flex: 1 0 20em; }
  article h1 {
    color: #504c8e;
    border-bottom: 1px solid #504c8e;
    margin-bottom: 20px; }
  article h2 {
    position: relative;
    overflow: hidden;
    color: #73210e;
    border-bottom: 1px dashed #73210e;
    margin: 5px 15px 20px;
    padding: 0 0 3px; }
    article h2 .date {
      position: absolute;
      bottom: -1.7em;
      right: 0;
      padding: 3px 7px;
      font-size: 0.6em;
      color: #73210e; }
  article h3 {
    margin: 20px 15px; }
  article .has_date {
    overflow: visible; }
  article p {
    text-indent: 2em;
    margin: 0 10px 0; }
  article ul, article p {
    color: #333; }
  article ul {
    margin: 0 0 10px 20px;
    font-size: 1.6em;
    font-size: 1.6rem; }
  article li {
    margin: 2px 0; }

article.event, article.banner {
  background-color: transparent;
  box-shadow: none;
  padding: 0; }
  article.event p, article.banner p {
    text-indent: 0; }

div.banner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0 10px; }
  div.banner .small {
    max-width: 130px;
    max-height: 130px; }
  div.banner .rectangle {
    max-width: 25em;
    max-width: 25rem; }
  div.banner a {
    border-bottom: none; }
  div.banner a:hover {
    border-bottom: none; }

section {
  margin: 5px 0 20px; }

.event section {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #f7efcd;
  box-shadow: 4px 4px 8px rgba(64, 59, 43, 0.8); }
  .event section:first-child {
    margin-top: 0; }

section.sticker {
  padding: 5px 5px 10px;
  background-color: #cbe0ec;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  position: relative; }
  section.sticker:before, section.sticker:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    top: -10px; }
  section.sticker:before {
    background-image: url(../images/interface/marker_left.png);
    left: -7px; }
  section.sticker:after {
    background-image: url(../images/interface/marker_right.png);
    right: -7px; }
  section.sticker a {
    color: #00a; }
  section.sticker a:hover {
    border-bottom-color: #00a; }
  section.sticker h3 {
    margin: 5px 15px; }

span.a_disabled {
  font-size: 1.6em;
  font-size: 1.6rem;
  color: black; }

.divided {
  margin: 15px 0;
  border-bottom: 1px solid #999;
  padding-bottom: 10px; }
  .divided p {
    margin-bottom: 5px; }

.withoutIndent {
  text-indent: 0; }

.interlinear {
  vertical-align: super;
  font-size: .8em;
  margin-top: 0; }

/*# sourceMappingURL=styles.css.map */
