html {
	font-size: 62.5%;
}
body {
	line-height: 1.2;
}
body * {
	box-sizing: border-box;
	font-family: $general_font;
}
h1, h2, h3, h4, h5 {
	font-weight: bold;
}
h1 {
	font-size: 2.6em;
	font-size: 2.6rem;
}
h2 {
	font-size: 2.1em;
	font-size: 2.1rem;
}
h3 {
	font-size: 1.6em;
	font-size: 1.6rem;
}

p{
	font-size: 1.6em;
	font-size: 1.6rem;
}

a {
	text-decoration: none;
	font-size: 1.6em;
	font-size: 1.6rem;
	color: #00ace5;
	border-bottom: 1px solid transparent;
	@include transition(border-bottom-color, .5s);
}
a:hover {
	border-bottom-color: #00ace5;
}
time {
	font-weight: bold;
}
strong {
	font-weight: bold;
}

.left {
	float: left;
}
.right {
	float: right;
}

figure {
	&.big *{
		max-width: 40em;
		max-height: 40em;
	}
	&.medium *{
		max-width: 30em;
		max-height: 30em;
	}
	&.center *{
		margin: 2px auto 5px;
	}
	img {
		margin: 2px 20px 5px;
		display: block;
	}
}
figcaption {
	text-align: center;
	color: #555;
	font-size: 1.2em;
}

.signature {
	text-align: right;
	float: right;
	margin: 20px 20px;
	color: #98032c;
	clear: right;
}