a[href$=".doc"], 
a[href$=".docx"],
a[href$=".pdf"],
a[href$=".jpg"],
a[href$=".png"],
a[href$=".zip"],
a[href^="mailto:"],
a[href^="http:"],
a[href^="https:"] {
	padding-left: 20px;
}

a[href$=".doc"],
a[href$=".docx"] {
	background: no-repeat left url("../images/interface/links/word.png");
}

a[href$=".pdf"] {
	background: no-repeat left url("../images/interface/links/acrobat.png");
}

a[href^="mailto:"] {
	background: no-repeat left url("../images/interface/links/email.gif");
}

a[href$=".jpg"],
a[href$=".png"] {
	background: no-repeat left url("../images/interface/links/image.png");	
}

a[href$=".zip"] {
	background: no-repeat left url("../images/interface/links/zip.png");
}

a[href^="http:"],
a[href^="https:"] {
	background: no-repeat left url("../images/interface/links/globe.png");
}