// display: flex;
@mixin display-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

// flex-flow: ;
@mixin flex-flow ($direction, $wrap) {
	-webkit-flex-flow: $direction $wrap;
	flex-flow: $direction $wrap;
}

@mixin transition($property, $duration, $timing:linear, $delay:0s){
	-webkit-transition: $property $duration $timing $delay;
	-moz-transition: $property $duration $timing $delay;
	-ms-transition: $property $duration $timing $delay;
	-o-transition: $property $duration $timing $delay;
	transition: $property $duration $timing $delay;
}