// display: flex;
@mixin display-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

// flex-flow: ;
@mixin flex-flow ($direction, $wrap) {
	-webkit-flex-flow: $direction $wrap;
	flex-flow: $direction $wrap;
}

@mixin transition($property, $duration, $timing:linear, $delay:0s){
	-webkit-transition: $property $duration $timing $delay;
	-moz-transition: $property $duration $timing $delay;
	-ms-transition: $property $duration $timing $delay;
	-o-transition: $property $duration $timing $delay;
	transition: $property $duration $timing $delay;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin animation($name, $duration, $timing-function: ease, $delay: 0s, $iteration-count: 1, $fill-mode: none, $play-state: running) {
	-webkit-animation: $name $duration $timing-function $delay $iteration-count $fill-mode $play-state;
    -moz-animation: $name $duration $timing-function $delay $iteration-count $fill-mode $play-state;
    -o-animation: $name $duration $timing-function $delay $iteration-count $fill-mode $play-state;
    animation: $name $duration $timing-function $delay $iteration-count $fill-mode $play-state;
}

@mixin animationArray($args...) {
	-webkit-animation: $args;
    -moz-animation: $args;
    -o-animation: $args;
    animation: $args;
}