.nav__item {
	min-height: $firstRowMinHeight;
	position: relative;
	ul {
		box-shadow: $shadow_nav_li;
		max-height: $firstRowMinHeight;
		position: absolute;
		overflow: hidden;
		width: 100%;
		z-index: 100;
		&:hover {
			max-height: 65em;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
	}
	a {
		font-size: 1.8em;
		color: white;
		display: block;
		border-bottom: none;
		padding: 0 5px;
		text-decoration: none;
	}
	a:hover {
		border-bottom: none;
	}
	@for $i from 1 through $colAmount {
		&:nth-child(#{$i}){
			$width: nth($colMinWidth, $i);
			min-width: $width;
			$flexGrow: $width/$minNavWidth * 100;
			-webkit-box-flex: $flexGrow;
			        flex: $flexGrow 0 $width;
		}
	}
	&:nth-child(n+1) {
		margin: -1px;
	}
	&:first-child {
		li:first-child{
			border-bottom-right-radius: 0;
		}
	}
	&:last-child {
		li:first-child {
			border-bottom-right-radius: 5px;
		}
		&:hover{
			li:first-child {
				border-bottom-right-radius: 0;
			}
		}
	}
	li:last-child:not(:first-child) {
		border-radius: 0 0 5px 5px;
	}
	li:first-child {
		text-align:center;
		border-top: $nav_border;
		min-height: $firstRowMinHeight;
		height: 0;	//для работы в IE11
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		        align-items: center;
	}
	li {
		padding: 3px 1px 3px;
		background: #ccc;
		background: $gradient_nav_li;
		border: $nav_border;
		border-top: none;
		&:hover, &.here {
			background: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#fff));
			background: linear-gradient(to top, #eee, #fff);
			box-shadow: inset 1px 1px 7px -2px rgba(0, 0, 0, .9);
			a {
				color: #000;
			}
		}
		&.here a {
			cursor: default;
			padding-left: 20px;
			background: 5px center / auto 9px url("../images/interface/menuHere.png") no-repeat;
		}
		/*&.here:first-of-type:not(:only-child) a:before {
			content: "\2261";
			margin-right: 10px;
		}*/
	}
}