.article {
	background-color: $articleColor;
	box-shadow: $shadowArticle;
	margin: 0 10px 10px;
	border-radius: 10px;
	padding: 10px;
}

.article a {
	text-decoration: none;
	font-size: 1.6em;
	font-size: 1.6rem;
	color: #00ace5;
	border-bottom: 1px solid transparent;
	-webkit-transition: border-bottom-color 0.5s;
	transition: border-bottom-color 0.5s;
}
.article a:hover {
	border-bottom-color: #00ace5;
}

