.article__list {
	color: $textColor;
	margin: 0 0 10px 20px;
	font-size: 1.6rem;
	li {
		margin: 2px 0;
	}
}

.article__list_mark {
	list-style: circle;
	padding-left: 10px;
}

.article__list_enumerated {
	list-style: decimal;
	padding-left: 10px;
}
.article__list_roman {
	list-style: upper-roman;
	padding-left: 10px;
}