.subNav__item, .subNav__item_lvl2 {
	&.here, &:hover:not(.here){
		padding-left: 20px;
		> a {
			font-weight: bold;
		}
	}
	&.here, &:hover:not(.here) {
		background: 3px 8px / 13px auto no-repeat;
	}
	&.here {
		background-image: url("../images/interface/checked.png");
		> a {
			cursor: default;
		}
	}
	&:hover:not(.here) {
		background-image: url("../images/interface/checked_black.png");
	}
	a {
		color: #227;
		border-bottom: none;
	}
}

.subNav__item {
	padding: 5px 10px;
	border-bottom: 1px solid #999;
}

.subNav__item_lvl2 {
	padding: 3px 15px;
	
}