.headerBanner {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}