.headerBanner__titleText {
	font-family: $handwriting_font;
	text-align: center;
	font-size: 2.4em;
	font-weight: bold;
	color: $mainTitleColor;
}

.headerBanner__titleText_main {
	font-size: 3.4em;
}