.honorBook__nav {
	font-size: 1.5rem;
	color: #00ace5;
	cursor: pointer;
	padding-left: 23px;
	height: 20px;
	display: flex;
	align-items: center;
}

.honorBook__nav_tableContent {
	background: url("../images/interface/tableContents.png") no-repeat left center / contain;
}