.changingPhoto {
	margin: 10px 30px 10px 10px;
    height: 200px;
    width: 300px;
    background-color: transparent;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .8);
    background: center / cover no-repeat transparent;
}