.table__headRow {
	background: -webkit-gradient(linear, left bottom, left top, from(#2d1205), to(#5f2626));
	background: linear-gradient(to top, #2d1205, #5f2626);
	color: white;
}

.table__headRow_simple {
	background: #888;
	font-weight: bold;
}