.table__cell {
	padding: 5px 10px;
	border: $table_border;
	border-bottom: none;
	border-right: none;
}

.table__cell:last-child {	
	border-right: $table_border;
}

.table__cell_general {
	vertical-align: middle;
	text-align: center;
}

.table__cell_head {
	padding: 5px 10px;
	vertical-align: middle;
	text-align: center;
}

.table__cell_subpoint {
	min-width: 5rem;
}

.table__cell_important {
	font-weight: bold;
}

$listWidth: (1, 9, 10, 11, 15, 20, 24, 30, 35, 50, 60, 70);

@each $width in $listWidth {
	.table__cell_w#{$width} {
		width: 1%*$width;
	}
}